#player-ads {
    display:none !important;
}
.ad-container, .dotcom-ad, .adunitContainer, .adBox, .ad_container, .ads__container, .amp-ad, .ad-text, .text-ad {
    display:none !important;
}
div[id^="gpt_ad"], div[id*="gpt-ad"], div[class*="ad-container"], div[id*="bordeaux-standard-ad"]
{
    display: none;
}
div[id*="ad-slot"], .advert__container, [id*="native_ad_nativead"] {
    display:none !important;
}
div[id*="div-gpt-ad"], .advertisement, .bbccom_advert, .dfp-ad, .dfp-slot, .dfp-leaderboard-container {
    display:none !important;
}
.ad-slot, .adSlot, amp-ad, div[data-testid="StandardAd"], div[data-widget-type="ads"], div[class*="dfpSlot"], #advertisement-title {
    display:none !important;
}
div[data-testid="top-ad-container-ad"], div[data-testid="ad-container"], div[data-testid*="Ad Container"], div[data-testid*="AdContainer"] {
    display:none !important;
}
/* hide ads on amazon store */
div[data-asin].AdHolder, span[data-video-type="sponsored"], .amzn-safe-frame-container, div[data-ad-details] {
    display:none !important;
}
ins[class="adsbygoogle"], amp-embed[type="taboola"], div[id*="taboola"], .dom_annotate_multifeed_bundle_AdBundle, .dom_annotate_ad_image_ad
{
    display:none !important;
}
div#partners[class*=river], cs-native-ad-card.card-container {
    display:none !important;
}
display-ads, display_ad, .m-block-ad, .adWrapper, .top-ad-wrapper, cs-native-ad-card
{
    display:none !important;
}
views-native-ad {
    display:none !important;
}
div[data-ad], div[data-ad-slot], div[data-ad-size], div[data-ad-id], div[data-adwidth], div[data-ad-unit-path], div[data-ad-format], div[data-dfp-mobile], div[data-ads-core], .fig-ad-content
{
    display:none !important;
}
div[id*="adslot"], .ad-flexible, .ad-cls, .ad, .l-ad {
    display:none !important;
}
/* hide that stupid breaking new section on youtube */
#dismissible:has(#rich-shelf-header) {
    display:none !important;
}
div[class*="adHeight"], div[class*="ad-height"], div[class*="ad-unit"], div[class*="adMinHeight"], div[class*="adBlock"] {
    display:none !important;
}
div[class*="adWidth"], div[class*="ad-width"], div[class*="ad-slot"], div[class*="adMinWidth"] {
    display:none !important;
}
/* to hide display ads in youtube videos...*/
.html5-video-player .video-ads .ytp-ad-overlay-slot {
    display:none !important;
}
.ads-semantic-text, .stream-ad, #big-yoodle, #masthead-ad {
    display:none !important;
}
ytd-engagement-panel-section-list-renderer[target-id="engagement-panel-ads"] {
    display:none !important;
}
ytd-engagement-panel-title-header-renderer[ads-semantic-text],ytd-engagement-panel-title-header-renderer[target-id="engagement-panel-ads"], ytd-ad-slot-renderer {
    display:none !important;
}
#sda-Horizon, .gemini-ad, .native-ad-item {
    display:none !important;
}